$background-dark: #ED7D31;
$background-grey: #F6F6F6;
$background-dark-grey: #2E2E2E;
$light-orange: #f1c74a;

// Height variables
$carousel-item-height: 300px;

@mixin zero-margin($pad-up-dn, $pad-left-right){
	margin: 0px auto;
	padding: $pad-up-dn $pad-left-right;
}

.navbar-dark {
  background-color: $background-dark;
}

.carousel {
	background:$background-dark;
  .carousel-item {
    height: $carousel-item-height;
    img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
    }
	}
}

.row-content {
  @include zero-margin(50px,0px);
  border-bottom: 1px ridge;
  min-height: 300px;
}

.title{
	font-size:36px;
	padding: 0px 0px 20px 0px;
}

.reason{
	background:$background-grey;
}

.lg-pad{
	padding: 20px 0px 20px 0px;
}

.sm-pad{
	padding: 10px 0px 10px 0px;
}

.map-container-2{
	overflow:hidden;
	padding-bottom:56.25%;
	position:relative;
	height:0;
}

.map-container-2 iframe{
	left:0;
	top:0;
	height:100%;
	width:100%;
	position:absolute;
}

.footer{
  background:$background-dark-grey;
	@include zero-margin(10px,0px);
  .footer-link{
		color:$light-orange;
	}
}